
div.info This widget inherits its data from the page's scope which is a parent to all widgets.  The page uses $scope.$watch() on state variables.  If 3 state variables, then 3 watchers on the page.
div.waiting(ng-hide="home.lake") No data yet...
div.data {{ home.lake }}
div.subtext(ng-show="home.lake") Number of letters in the selected lake.<br>Pretty impressive server, eh!

