
div.row.home-selectors
  div.pull-right: city-selector
  div.pull-right: range-selector

div.row
  div.card.col-xs-12.col-sm-6.col-md-3: temperature
  div.card.col-xs-12.col-sm-6.col-md-3: pressure
  div.card.col-xs-12.col-sm-6.col-md-3: humidity
  div.card.col-xs-12.col-sm-6.col-md-3: description

