
div.row
  div.pull-left Changing the dropdown will change a state variable and simulate a server data request...
  div.pull-right: lake-selector

div.row
  div.col-sm-3: postal
  div.col-sm-3: broadcast
  div.col-sm-3: watch
  div.col-sm-3: inherit

