
div.row
  div.pull-right: city-selector
  div.pull-right: range-selector

div.row
  div.card.col-xs-12.col-sm-6.col-md-3: postal
  div.card.col-xs-12.col-sm-6.col-md-3: broadcast
  div.card.col-xs-12.col-sm-6.col-md-3: watch
  div.card.col-xs-12.col-sm-6.col-md-3: inherit

