
body {
  background-color: #e8e8e8;
}

.col-sm-3 {
  height: 450px;
  border: 1px solid #bbb;
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
  background-color: white;
}

.info {
  height: 140px;
}

.waiting {
  margin-top: 50px;
}

.data {
  margin-top: 50px;
  font-size: 60px;
  color: orange;
}

.subtext {
  font-size: 10px;
  color: #777;
}
