
h4 $scope.$watch()
div.info This widget uses $scope.$watch() in its own scope.  If 4 state variables and 4 widgets, then 16 watchers on the page.
div.waiting(ng-if="!watch.data") No data yet...
nvd3(options="watch.options" data="watch.data")

