
div.info This widget uses Angular's built-in pub/sub system with $rootScope.$broadcast() and $scope.$on().  If 3 subscriptions and 5 widgets, then 15 watchers on the page.
div.waiting(ng-hide="home.lake") No data yet...
div.data {{ broadcast.lake }}
div.subtext(ng-show="home.lake") Number of letters in the selected lake.<br>Pretty impressive server, eh!

