
div.info This widget uses $scope.$watch() in its own scope.  If 3 state variables and 5 widgets, then 15 watchers on the page.
div.waiting(ng-hide="watch.lake") No data yet...
div.data {{ watch.lake }}
div.subtext(ng-show="watch.lake") Number of letters in the selected lake.<br>Pretty impressive server, eh!

