
h2 Temperatures
h4 Broadcast Data
div.info This widget uses $rootScope.$broadcast() and $scope.$on().  If 3 subscriptions and 4 widgets, then 12 watchers on the page.
div.waiting(ng-if="!temperature.data") No data yet...
nvd3(options="temperature.options" data="temperature.data")

