
h2 Humidity
h4 $scope.$watch()
div.info This widget uses $scope.$watch() in its own scope.  If 4 state variables and 4 widgets, then 16 watchers on the page.
div.waiting(ng-if="!humidity.data") No data yet...
nvd3(options="humidity.options" data="humidity.data")

