
h2 Barometer
h4 Broadcast a Notification
div.info This widget uses $rootScope.$broadcast() and $scope.$on().  If 3 subscriptions and 4 widgets, then 12 watchers on the page.
div.waiting(ng-if="!pressure.data") No data yet...
nvd3(options="pressure.options" data="pressure.data")

