
h2 Descriptions
h4 Inherit Page's Data
div.info This widget inherits its data from the page's scope which is a parent to all widgets.  The page uses $scope.$watch() on state variables.  If 3 state variables, then 3 watchers on the page.
div.waiting(ng-if="!home.descrips") No data yet...
table.table.table-striped.table-condensed
  tr(ng-repeat="descrip in home.descrips")
    td {{ descrip[0] | date:'ha' }}
    td {{ descrip[1] }}

